name: dnsmap

on:
  push:
    branches: [ "main", "pagvac-patch-1" ]
    paths-ignore:
      - '**/README.md'
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - '**/README.md'
  schedule:
    - cron: '45 17 * * 3'
  workflow_dispatch:
    inputs:
      domain:
        description: 'your domain name'
        default: 'github.com'
        type: string
        required: false
  
jobs:
  dnsmap-command:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: pip install -r requirements.txt
    - name: Run dnsmap against github.com
      if: "${{ github.event.inputs.domain == '' }}"
      run: python dnsmap.py github.com
    - name: Run dnsmap against user-supplied domain name  
      if: "${{ github.event.inputs.domain }}"
      run: python dnsmap.py ${{ github.event.inputs.domain }}
